[submodule "Q2_25_turbin3preq"]
	path = Q2_25_turbin3preq
	url = https://github.com/stevensanborn/Q2_25_turbin3preq
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/stevensanborn/anchor-vault
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/stevensanborn/anchor-escrow
[submodule "anchor_amm"]
	path = anchor_amm
	url = https://github.com/stevensanborn/anchor_amm.git
[submodule "anchor_marketplace"]
	path = anchor_marketplace
	url = https://github.com/stevensanborn/anchor_marketplace/
[submodule "anchor_nft_stake"]
	path = anchor_nft_stake
	url = https://github.com/stevensanborn/anchor_nft_stake
[submodule "capstone/DripCast"]
	path = capstone/DripCast
	url = https://github.com/stevensanborn/DripCast
